.header {
  background-color: rgba(51, 51, 51, 0.5);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 2rem;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 999;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
}

.logo a {
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
}

.nav-center {
  position: absolute;
  left: 48%;
  transform: translateX(-50%);
}

.nav-list {
  list-style: none;
  display: flex;
  gap: 3rem;
}

.nav-list li {
  position: relative;
}

.nav-list a {
  text-decoration: none;
  color: white;
  font-size: 1rem;
  position: relative;
  padding: 5px 0;
  transition: color 0.3s ease;
}

.nav-list a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 2px;
  background-color: #ffcc00;
  transition: width 0.3s ease;
}

.nav-list a:hover {
  color: #ffcc00;
}

.nav-list a:hover::after {
  width: 100%;
}

.header-search {
  padding: 4.5px 12px;
  font-size: 0.8rem;
  font-family: PokemonGB;
  font-style: italic;
  border-radius: 8px;
  border: 1px solid #ccc;
  outline: none;
  width: 400px;
  margin-right: 5.5rem;
}

@media (max-width: 768px) {
  .header {
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    position: sticky;
    z-index: 999;
  }

  .logo {
    display: none;
  }

  .nav-center {
    position: static;
    transform: none;
    margin-bottom: 0.5rem;
  }

  .nav-list {
    flex-direction: ro;
    align-items: center;
    gap: 2rem;
  }

  .nav-list a {
    font-size: 0.95rem;
  }

  .header-search {
    width: 100%;
    max-width: 370px;
    margin-left: 5.5rem;
    height: 3vh;
    margin-top: 0.5rem;
  }
}
